body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 11px;
    background-color: rgba(0, 0, 0, .9) ;
    color: #675e4d;
      
    
}

a {
    color: #b1a48b;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ddceaf;
    text-decoration: underline;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*border: 1px solid #666666;*/
    height: 100%;
    min-height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-zoom-container {
    list-style: none;
    font-size: 0px;
}
.zoom-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 33.33%;
    font-size: 16px;
    font-size: 1rem;
    border: 1px solid #fff;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.zoom-container img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
    margin: 23% 0 0;
    padding: 10px 0;
    border-top: 5px solid rgba(255, 255, 255, .15);
    border-bottom: 5px solid rgba(255, 255, 255, .15);
}
.zoom-container:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
            transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
    background: none;
}
     
@media (max-width: 767px) {
    .zoom-container {
    	width: 50%;
    }
}
     
@media (max-width: 480px) {
    .zoom-container {
    	width: 100%;
    }
}

.image-accueil-background {
    background-image: url('images/Home/accueil_01_web.jpg');
    background-size: auto;
    background-position: center;
}

.content-accueil-background{
    color: #ffffff;
    text-shadow: 3px 2px 1px rgba(0,0,0,0.9);
    
    
}
.home-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px #000000;
}
 
footer {position: absolute; bottom: 0;}

.btn-project{
    background-image: url('images/Home/accueil_01_web.jpg');
}

.texted-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.text-on-image { 
   position: absolute; 
   font-size: 30px;
   background-color: rgba(0,0,0,0.8);
   bottom: 5px; 
   left: 5px; 
   /*width: 100%;*/ 
}