@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Resman :</strong>   <a href="mailto:resmaniacy@yahoo.fr">resmaniacy@yahoo.fr</a><br /><br />>
    <strong>Webmaster :</strong> <a href="mailto:miltondedieu@gmail.com">miltondedieu@gmail.com</a>
</address>