@{
    ViewBag.Title = "Resman Mortorcycle Torrefactory";
}


<h1>
    Welcome!
</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit turpis justo, sed venenatis urna fringilla id. Aenean bibendum hendrerit egestas. Praesent vitae felis eu tellus dictum dictum et eget metus. Donec elementum venenatis risus, ac rhoncus est bibendum eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus elit odio, consequat auctor nulla a, rhoncus rutrum purus. Phasellus eget vulputate eros, quis venenatis mi. Cras id dui consectetur, volutpat ex id, tristique justo. Suspendisse gravida ipsum eget arcu finibus, quis aliquet metus viverra. Quisque vel ex blandit, vehicula felis ut, malesuada leo.
        </p>
        <p>
            Nam finibus est id diam posuere hendrerit. Curabitur egestas quam sed egestas suscipit. Praesent euismod commodo facilisis. Nullam sed lobortis magna. Sed auctor vulputate lectus non pellentesque. Nam laoreet dui id erat semper volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec at consectetur diam, nec sollicitudin mi. Etiam vulputate mi nec malesuada rutrum.
        </p>
        <p>
            Aenean convallis, nibh sit amet dignissim porttitor, velit leo euismod sem, sed interdum ex orci non diam. Vivamus eu tincidunt massa. Nulla et felis interdum risus mattis condimentum. In et rhoncus libero, vitae suscipit urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vitae tristique mauris, at condimentum augue. Nulla at odio vel dolor faucibus feugiat eget a magna. Morbi ut dignissim nibh. Vivamus sed dolor massa. Vivamus nec ultrices urna.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mes projets</h2>
        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit turpis justo, sed venenatis urna fringilla id.
        </h5>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Projects")">Découvrez mes projets</a></p>
    </div>

    <div class=" col-md-4">
        <h2>Vos projets</h2>
        <h5>
            Nam finibus est id diam posuere hendrerit. Curabitur egestas quam sed egestas suscipit. 
        </h5>
        <p><a class="btn btn-default" href="#">Publiez vos projets</a></p>
    </div>

    <div class="col-md-4">
        <h2>Contact</h2>
        <h5>
            Aenean bibendum hendrerit egestas. Praesent vitae felis eu tellus dictum dictum et eget metus. 
        </h5>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Soumettre un projet</a></p>
    </div>
    

</div>