@{
    ViewBag.Title = "Resman Mortorcycle Torrefactoring";
}

<div class="jumbotron image-accueil-background">
    <div class="content-accueil-background">
        <h1>Bienvenue</h1>
        <p class="lead">
            Cafe Racer's gentlemen's place.
        </p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mes projets</h2>
        <p>Découvrez et suivez mes projets.</p>
        <p><a class="btn btn-default" href="Projects">Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Un projet à soumettre?</p>
        <p><a class="btn btn-default" href="~/Views/Home/Contact.cshtml">Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Forum</h2>
        <p>Tutoriaux et échanges d'astuces</p>
        <p><a class="btn btn-default" href="">Go</a></p>
    </div>
</div>